.orange {
  color: orange;
}

.profile {
  width: 300px;
  text-align: center;
  padding: 1rem;
  background-color: #ebebeb;
  border-radius: 20px;
  box-shadow: 2px 3px 9px 0px rgba(0,0,0,0.30);
-webkit-box-shadow: 2px 3px 9px 0px rgba(0,0,0,0.30);
-moz-box-shadow: 2px 3px 9px 0px rgba(0,0,0,0.30);
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}